.container {
  padding: 1rem 5rem;
}
.weather-info-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 3px #cecece;
  margin-bottom: 1rem;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-wrapper img {
  height: 6rem;
}
.icon-wrapper span {
  font-size: xx-large;
  cursor: pointer;
}
